.post {
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .post h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .post div {
    margin-bottom: 20px;
  }
  
  .post img {
    width: 100%;
    height: 600px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* Redimensionne l'image tout en préservant l'aspect ratio */
    border-radius: 8px;
    margin-top: 8px;
  }
  
  .post p {
    margin: 8px 0;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }
  